*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 80px;
    position: absolute;
    width: 100%;
    backdrop-filter: blur(3px);
    box-shadow: 0 3px 20px rgb(0 0 0 / 0.2);
}
.menu a, .hero-disc a, .left a {
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: black;
    font-weight: 400;
    
}
.left a {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 0.3rem;

}
.cover {
    position: absolute;
    background-color: black;
    height: auto;
    width: 100%;
}
.menu {
    display: flex;
    column-gap: 1.75rem;
}

/* hero page */

.hero {
    background-image: url(./images/edit2.png);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
@media screen and (min-width: 1920px) {
    .hero {
        background-image: url(./images/bg-pic_5120x1440.png);
        
    }
    
   .hero-disc #name {
    font-size: 65px !important;
   }
  
}
.bg-cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(207, 207, 207, 0.37);
    width: 60%;
    min-width: 600px;
    max-width: 1900px;
    height: 70vh;
    min-height: 600px;
    max-height: 1200px;
    top: 50%;
    border-radius: 2rem; 
    
}
.hero-disc {
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translate(-10px, -50%);
    font-weight: 100;
    display: grid;
    row-gap: 10px;
}

.hero-disc #name {
    font-size: 60px;
    display: grid;
    text-transform: uppercase;
}
.hero-disc #disc {
    font-size: 20px;
    
}
.hero-disc #disc, #name{
    letter-spacing: 4px;
    font-weight: 100;
   
}

.hero-disc a {
    padding: 0.5rem;
    border: 1px solid black;
    width: fit-content;
    font-weight: 100;
    transition: all 0.5s;
}
.hero-disc a:hover {
    background-color: rgba(0, 0, 0, 0.473);
    color: white;
}

body a:hover {
    transform: scale(1.1);
    color: white;
}

body {
    background-color: rgba(0, 0, 0, 0.336);
}

.hidden {
    display: none !important;
}
.bg-cover-add {
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(2px);
    width: 60%;
    min-width: 600px;
    max-width: 1900px;
    height: 80%;
    min-height: 30vh;
    max-height: 1200px;
    top: 50%;
    border-radius: 2rem; 
    display: flex;
    justify-content: space-around;
    place-items: center;
    overflow:scroll;
    
    
}

@media screen and (max-width: 1280px) {
  .bg-cover-add {
    display: grid;
    height: 800px;
    width: 700px;
    overflow: scroll;
  }
  .bg-cover-add a {
    margin: 10px !important;
  }
}

.firstHalf, .secondHalf {
  
  display: flex;
  margin: auto;
}

  .out {
      /* transform: translate(-1000px, 0); */
      animation: fadeOut 0.5s ease-out;
      
  }

  .in {
    animation: fadeIn 0.5s ease-in ;
  }
  .out, .in {
    animation-fill-mode: forwards;
      transition-timing-function: ease-in;
      transition: 1.5s;
  }

  @keyframes fadeOut {
    from{opacity: 1;}
    to {opacity: 0;}
    
  }
  @keyframes fadeIn {
    from{opacity: 0;}
    to {opacity: 1;}
    
  }

  /* gallary */

/* .oneIn, .twoIn, .threeIn, .oneIn2, .twoIn2, .threeIn2, .oneIn3, .twoIn3, .threeIn3, .oneIn4, .twoIn4, .threeIn4, .oneIn5, .twoIn5, .threeIn5 */

  .bg-cover-add a{
    width:180px;
    height: 150px;
    background-color: rgba(128, 128, 128, 0.664);
    /* backdrop-filter: blur(20px); */
    border-radius: 2rem;
    display: grid;
    margin: 2rem;
    animation: flyIn 1s ease-in;
    animation-iteration-count: 1;
    transition: all 1s;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding-top: 10rem;
  }
  .oneIn {
    background-image: url(./images/fk.png);
    
  }
  .twoIn {
    background-image: url(./images/IMG_8711.JPG) ;
  }
  .threeIn {
    background-image: url(./images/IMG_8724.JPG);
  }
  .oneIn2 {
    background-image: url(./images/IMG_8792.JPG);
  }
  .twoIn2 {
    background-image: url(./images/IMG_8885.JPG);
  }
  .threeIn2 {
    background-image: url(./images/IMG_8831.JPG);
  }
  .oneIn3 {
    background-image: url(./images/IMG_8836.JPG);
  }
  .twoIn3 {
    background-image: url(./images/IMG_8889.JPG);
  }
  .threeIn3 {
    background-image: url(./images/IMG_8902.JPG);
  }
  .oneIn4 {
    background-image: url(./images/IMG_8881.JPG);
  }
  .twoIn4 {
    background-image: url(./images/IMG_8874.JPG);
  }
  .threeIn4 {
    background-image: url(./images/IMG_8908.JPG);
  }
  .oneIn5 {
    background-image: url(./images/IMG_8874.JPG);
  }
  .twoIn5 {
    background-image: url(./images/IMG_8924.JPG);
  }
  .threeIn5 {
    background-image: url(./images/IMG_8832.JPG);
  }
  .bg-cover-add a:hover {
    /* width: 300px;
    height: 500px; */
    /* transform: translate(0, -100px); */
    /* scale: 2.0; */
    transform: scale(2.0);
  
    position: relative;

  }
  .oneIn6 {
    background-image: url(images/20211205160555_IMG_1593.JPG);
  }
  .twoIn6 {
    background-image: url(images/20211206164155_IMG_1937.JPG);
  }
  .threeIn6 {
    background-image: url(images/20211206171854_IMG_2008.JPG);
  }

@keyframes flyIn {
    0% {
        transform: translate(1000px);
        transform: scale(0.9, 1.1);

    }
    
    25% {
        transform: scale(1.1, 0.9);
    }
    90% {
        
        transform: scale(0.95, 1.05);
    }
    100% {
        transform: translate(0px);
    }
}


/* view pictures */

.plus {
    /* background-image: url(./images/fk.png); */
    background-position: center top;
    background-size: cover;
    width: 50vw;
    max-width: 600px;
    background-color: red;
    height: 60vh;
    border-radius: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

.left-angle, .right-angle{
  border: 1px solid transparent;
  border-radius: 20px;
  width: 70px;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: rgba(100, 49, 1, 0.582); 
  position: absolute;
  color: rgb(197, 142, 59);
  font-size: 50px;
  transition: all 0.5s;
}
.left-angle {
  /* position: absolute; */
position: sticky;
  top: 50%;
  left: 0%;
  /* left: -10%; */
}
.right-angle {
  top: 50%;
  right: 0%;
  position: sticky;
  /* margin-right: 10%; */
} 

.left-angle:hover, .right-angle:hover {
  color: white;
  scale: 1.2;
  cursor: pointer;
}