

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* navigation */

nav {
    display: flex;
    justify-content: space-between;
    place-items: center;
    padding:30px 80px;
    position: absolute;
    width: 100%;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 0 3px 20px rgb(0 0 0 / 0.2);
}

.menu a, .hero-disc a, .left a {
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: black;
    font-weight: 400;
    
}
.left a {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    

}

.cover {
    position: absolute;
    background-color: black;
    height: auto;
    width: 100%;
}
.menu {
    display: flex;
    column-gap: 1.75rem;
}

/* hero page */

.hero {
    background-image: url(./images/edit2.png);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
@media screen and (min-width: 1920px) {
    .hero {
        background-image: url(./images/bg-pic_5120x1440.png);
        
    }
    
   .hero-disc #name {
    font-size: 65px !important;
   }
  
}
.bg-cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(207, 207, 207, 0.37);
    width: 60%;
    min-width: 600px;
    max-width: 1900px;
    height: 70vh;
    min-height: 600px;
    max-height: 1200px;
    top: 50%;
    border-radius: 2rem; 
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.hero-disc {
    margin-left: -30px;
    font-weight: 100;
    row-gap: 10px;
}

.hero-disc #name {
    font-size: 60px;
    display: grid;
    text-transform: uppercase;
}
.hero-disc #disc {
    font-size: 20px;
    
}
.hero-disc #disc, #name{
    letter-spacing: 4px;
    font-weight: 100;
   
}

.hero-disc a {
    padding: 0.5rem;
    border: 1px solid black;
    width: fit-content;
    font-weight: 100;
    transition: all 0.5s;
}
.hero-disc a:hover {
    background-color: rgba(0, 0, 0, 0.473);
    color: white;
}

.cover a:hover {
    transform: scale(1.1);
    color: white;
}

/* body {
  background: rgb(143,55,91);
background: linear-gradient(0deg, rgba(143,55,91,0.7399334733893557) 0%, rgba(238,163,0,1) 100%);
} */

.hidden {
    display: none !important;
}
.bg-cover-add {
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    width: 60%;
    min-width: 600px;
    max-width: 1900px;
    height: 80%;
    min-height: 600px;
    max-height: 1200px;
    top: 50%;
    border-radius: 2rem; 
    padding: 100px 0;
    place-items: center;
    overflow:scroll;
    
    
}

/* @media screen and (max-width: 1280px) {
  .bg-cover-add {
    display: grid;
    height: 800px;
    width: 700px;
    overflow: scroll;
  }
  .bg-cover-add a {
    margin: 10px !important;
  }
} */

.firstHalf, .secondHalf {
  
  display: flex;
  margin: auto;
}

  .out {
      /* transform: translate(-1000px, 0); */
      animation: fadeOut 0.5s ease-out;
      
  }

  .in {
    animation: fadeIn 0.5s ease-in ;
  }
  .out, .in {
    animation-fill-mode: forwards;
      transition-timing-function: ease-in;
      transition: 1.5s;
  }

  @keyframes fadeOut {
    from{opacity: 1;}
    to {opacity: 0;}
    
  }
  @keyframes fadeIn {
    from{opacity: 0;}
    to {opacity: 1;}
    
  }

  /* gallary */

/* .oneIn, .twoIn, .threeIn, .oneIn2, .twoIn2, .threeIn2, .oneIn3, .twoIn3, .threeIn3, .oneIn4, .twoIn4, .threeIn4, .oneIn5, .twoIn5, .threeIn5 */
/* 
  .bg-cover-add a{
    width:180px;
    height: 150px;
    background-color: rgba(128, 128, 128, 0.664);
    /* backdrop-filter: blur(20px); */
    /* border-radius: 2rem;
    display: grid;
    margin: 2rem;
    animation: flyIn 1s ease-in;
    animation-iteration-count: 1;
    transition: all 1s;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding-top: 10rem;
  } */
  /*.oneIn {
    background-image: url(./images/fk.png);
    
  }
  .twoIn {
    background-image: url(./images/IMG_8711.JPG) ;
  }
  .threeIn {
    background-image: url(./images/IMG_8724.JPG);
  }
  .oneIn2 {
    background-image: url(./images/IMG_8792.JPG);
  }
  .twoIn2 {
    background-image: url(./images/IMG_8885.JPG);
  }
  .threeIn2 {
    background-image: url(./images/IMG_8831.JPG);
  }
  .oneIn3 {
    background-image: url(./images/IMG_8836.JPG);
  }
  .twoIn3 {
    background-image: url(./images/IMG_8889.JPG);
  }
  .threeIn3 {
    background-image: url(./images/IMG_8902.JPG);
  }
  .oneIn4 {
    background-image: url(./images/IMG_8881.JPG);
  }
  .twoIn4 {
    background-image: url(./images/IMG_8874.JPG);
  }
  .threeIn4 {
    background-image: url(./images/IMG_8908.JPG);
  }
  .oneIn5 {
    background-image: url(./images/IMG_8874.JPG);
  }
  .twoIn5 {
    background-image: url(./images/IMG_8924.JPG);
  }
  .threeIn5 {
    background-image: url(./images/IMG_8832.JPG);
  }
  .bg-cover-add a:hover {
    
    transform: scale(2.0);
  
    position: relative;

  }
  .oneIn6 {
    background-image: url(images/20211205160555_IMG_1593.JPG);
  }
  .twoIn6 {
    background-image: url(images/20211206164155_IMG_1937.JPG);
  }
  .threeIn6 {
    background-image: url(images/20211206171854_IMG_2008.JPG);
  } */

@keyframes flyIn {
    0% {
        transform: translate(1000px);
        transform: scale(0.9, 1.1);

    }
    
    25% {
        transform: scale(1.1, 0.9);
    }
    90% {
        
        transform: scale(0.95, 1.05);
    }
    100% {
        transform: translate(0px);
    }
}


/* view pictures */

.plus {

    background-position: center top;
    background-size: cover;
    width: 50vw;
    max-width: 600px;
    background-color: red;
    height: 60vh;
    border-radius: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}
/* 
.left-angle, .right-angle{
  border: 1px solid transparent;
  border-radius: 20px;
  width: 70px;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: rgba(100, 49, 1, 0.582); 
  position: absolute;
  color: rgb(197, 142, 59);
  font-size: 50px;
  transition: all 0.5s;
}


.left-angle:hover, .right-angle:hover {
  color: white;
  scale: 1.2;
  cursor: pointer;
} */


.height img{
  min-width: 200px;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  transition: all 0.5s;
  object-fit: cover;
 

}
.width {
  display: flex;
  flex-wrap: wrap;
}
.height {
  justify-content: center;
  grid-gap: 10px;
  transition: all 0.5s;

}

.height img:hover {
 transform: scale(2.0);
 z-index: 3;
}

.height img:not(:hover){
  filter: blur(3px);
  z-index: -1;
} 

@media screen and (max-width: 1000px) {
  .height img:hover {

    transform: scale(1.0);
   }
   .height img:not(:hover){

  filter: blur(0px);

  } 
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track{
  background: hsl(120, 60%, 50% / 1);
  border-radius: 100vw;
  margin-block: .5em;
  margin-left: 10em;
}
::-webkit-scrollbar-thumb{
  background: hsl(120, 100%, 20% / 1);
  border-radius: 100vw;

}

::-webkit-scrollbar-thumb:hover{
  background: hsl(120, 100%, 10% / 1);

}

#add-hidden {
  font-size: 24px;
  
}
#add-hidden:hover {
  color: rgba(119, 136, 153, 0.637);
}
.menu {
  display: flex;
  align-items: center;
}







/* contact.css */


:root{
  --main-color: goldenrod;
}
.darkmode-toggle {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: absolute;
  
}
#top{
  width: 200px;
  height:80px;
  position: absolute;
  background: rgb(228, 228, 224);
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  margin: 10px;
  /* margin: 10px 10px 0 0 ; */
}

#top:after {
  content: "";
  width: 70px;
  height: 70px;
  position: absolute;
  top:5px;
  left:5px;
  background: linear-gradient(180deg,#ffcc89, var(--main-color));
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}
#darkmode-toggle {
  width: 0;
  height: 0;
  visibility: hidden;
}
#darkmode-toggle:checked + #top {
  background: #242424;

}
#darkmode-toggle:checked + #top::after {
  left: 200px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
  
}

#top,  #top::after {
  transition: 0.3s;
}

#top:active::after{
  width: 160px;
}
.background {
  width: 100vw;
  height: 100vh;
  background-image: url(./images/20211205160555_IMG_1593.JPG);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  position: absolute;
  transition: 0.3s;
}



#darkmode-toggle:checked + #top + .background {
  background-image: url(./images/img-drk-bg.png);

}



/* adding sun and moon pictures */
#top svg {
  position: absolute;
  width: 60px;
  top: 50%;
  transform: translate(0,-50%);
  z-index: 100;
}

#top svg.sun {
  left: 10px;
  fill: #fff;
  transition: 0.3s;
}
#top svg.moon {
  left: 135px;
  fill: #7e7e7e;
  transition: 0.3s;
}

#darkmode-toggle:checked + #top svg.sun{
  fill: #7e7e7e;
}
#darkmode-toggle:checked + #top svg.moon{
  fill: #fff;
}
#darkmode-toggle:checked + #contact-disc h1{
  color: #fff;
}

/* contact page */
.contact {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid transparent;
  border-radius: 40px;
  color: var(--main-color);

  box-shadow: inset 4px 10px 20px rgba(14, 14, 14, 0.623), inset -4px -10px 20px rgb(238, 238, 238); 
  height: 60vh;
  width: 60vw;
  max-width: 1400px;
  max-height: 1200px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 0 100px;
  opacity: 100;
  transition: all 0.5s;
}

.contact:hover {
  background-color: rgba(0, 0, 0, 0.226);
  color: white;
}
.contact-disc {
  margin: auto;
  display: grid;
  row-gap: 2rem;

}
.contact-disc p {
  font-size: 20px;
}
.contact-disc > h1 {
  font-size: 55px;
  margin-bottom: 20px;
}
.contact-disc > i > a {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  letter-spacing: 2px;
  padding-left: 5px;

}

.contact-list ul li {
  text-align: start;
  list-style: none;

}
.contact-list ul{
  display: flex;
  column-gap: 20px;
  justify-content: center;

}
.contact-list ul a {
  font-size:  40px;
  text-decoration: none;
  color: var(--main-color);
  transition: all 0.5s;
}
.contact-disc i:hover {
  color: var(--main-color);
}
.contact-list ul li:hover {
  transform: translateX(-5px);
}


.content-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border: 1px solid transparent;
  border-radius: 30px;
  /* background-color: rgb(133, 97, 32); */
  height: 40vh;
  width: 20vw;
  max-width: 500px;
  max-height: 1000px;
}
.content-mid {
  display: grid;
  margin: auto;
  width: 80%;
}
.content-mid input {
  margin-bottom: 20px;
  height: 30px;
}
.content-mid input , textarea {
  font-size: 16px;
}
.content-mid input:hover{
  border: 1px dotted var(--main-color);
}
.content-right button {
  width: 40%;
  margin: 10px 0;
  height: 30px;
  font-size: 13px;
  border: 1px solid transparent;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.5s ;
}
.content-right button:hover{
  background-color: var(--main-color);
}
.shadow-pop-bl {
-webkit-animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
        animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes shadow-pop-bl {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
            box-shadow: -1px 1px  #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }
}
@keyframes shadow-pop-bl {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
            box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }
}

.backtohome p{
  display: flex;
  font-size: 15px;
}

.backtohome a{
  font-size: 40px;
  position: absolute;
  text-align: center;
  left: 0;
  color: var(--main-color);
  margin: 20px 40px;
  cursor: pointer;
  text-decoration: none;
}
.backtohome a:hover {
  text-shadow: 10px 5px 10px rgb(145, 143, 143);

}



/* media query for toggle picture */

@media screen and (min-width: 2000px) {
  .background{
      background-image: url(./images/check-xl-blur-toggle.png);
      background-position: center;

  }
  #darkmode-toggle:checked + #top + .background {
      background-image: url(./images/check-xl-blur-drk-toggle-PhotoRoom.png);
  
    }
   
}