@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SFPro-rounded';
    src: url('./fonts/SF_Pro_Rounded/SF-Pro-Rounded-Regular.otf');
    font-display: auto; 
  } 
  @font-face {
    font-family: 'SFPro-thin';
    src: url('./fonts/SF_Pro_Rounded/SF-Pro-Rounded-Thin.otf');
  }

  ::-webkit-scrollbar {
    display: none;
  }
body {
    background-color: #E8E6E2;
    overflow-x: hidden;
    -webkit-user-select: none;
    user-select: none;
}

.fo_t {
    font-family: 'SFPro-thin', sans-serif;
}

.fo_r {
    font-family: 'SFPro-rounded', sans-serif;
}

.sm_ooth {
    transition: all 0.5s ease;
}

.gradient {
  background: linear-gradient(to bottom, #e8e6e28a 0%, rgba(108, 132, 238, 0.247) 25%, rgba(108, 132, 238, 0.459) 50%, #e8e6e28a) 100% ;
  width: 100%;
  height: 100%;
}
.gradient_gal {
  background: linear-gradient(to right, rgba(245, 163, 142, 0.8), rgba(142, 245, 238, 0.8));
}
.hover_grad:hover, .gradient_foot {
  background: linear-gradient(to right,rgba(142, 245, 238, 0.8), rgba(245, 163, 142, 0.8));

}
.gradient_gal{
  width: 100%;
  height: 100%; 
}

.gradient_cont {
  /* background-color: #e8e6e28a; */
  width: 100%;
  height: 100vh;
}

.gradient_foot {
  background: linear-gradient(to bottom, rgba(121, 124, 79, 0.164), #e8e6e28a);
}



